@use '../../../themes/variables' as *;
.container {
	background: #ffffff;
	border: 2px solid rgba(223, 225, 231, 1);
	box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	flex: 3;
	padding: 24px 31px;
	gap: 10px;
	&.active-0 {
		border: 2px solid $status-0;
	}
	&.active-1 {
		border: 2px solid $status-1;
	}
	&.active-2 {
		border: 2px solid $status-2;
	}
	&.active-10 {
		border: 2px solid $status-500;
	}
	div {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		span {
			font-size: $font-size-lg;
			color: #333;
		}
		.detect-title{
			white-space: nowrap;
		}
	}
	div:first-child {
		align-items: center;
		.work-name {
			font-size: $font-size-xl;
			color: #333333;
			font-weight: bold;
		}
		.work-order-status {
			margin-left: auto;
			border: 1px solid;
			border-radius: 4px;
			font-size: $font-size-lg;
			padding: 0 10px;
		}
		.right-t {
			font-size: $font-size-xxl;
			color: #888e9e;
			margin-top: 2px;
		}
		.status-0 {
			color: $status-0;
			border-color: $status-0;
		}
		.status-1 {
			color: $status-1;
			border-color: $status-1;
		}
		.status-2 {
			color: $status-2;
			border-color: $status-2;
		}
		.status-10 {
			color: $status-500;
			border-color: $status-500;
		}
	}
	.work-order-time {
		margin-top: -10px;
		border-bottom: 1px solid rgba(223, 225, 231, 1);
		padding-bottom: 10px;
		span{
			color: #888e9e;
		}
	}
}

.paddingBottom {
	margin-bottom: 20px;
}
