$head-height: 68px;
$dominant-color: #0d867f;
$dominant-bg-color: #086b65;

$status-0: #333333;
$status-1: #ff7c11;
$status-2: #0d867f;
$status-10: #1296db;
$status-500: rgba(255, 49, 65, 0.5);

$font-size-xxxl: 34px;
$font-size-xxl: 32px;
$font-size-xl: 28px;
$font-size-lg: 24px;
$font-size-md: 20px;
$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;


